#tablediv{
  margin-left: 5px;
  margin-right: 5px;
}

#table{
  background-color: deepskyblue;
}

.float-container {
  border: 3px solid #fff;
  padding: 20px;
}

.float-child {
  width: 80%;
  float: left;
}

.float-child2 {
  float: left;
  padding: 20px;
  border: 2px solid deepskyblue;
}
